<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="favicon_256px.ico" />
  </head>
  <body>
    <div id="app-container"></div>
  </body>
</html>
